section {
  @apply my-2;
  
  a {
    @apply text-orange-500 hover:text-orange-300 underline underline-offset-4
  }

  h2 {
    @apply text-xl font-black
  }

  p {
    @apply mb-4
  }

  span.code {
    @apply font-mono
  }
}