.pagination-group {
  div, button {
    @apply p-3 text-sm font-bold
  }
  button {
    @apply border-b-2 border-orange-500;
    
    &:not(:disabled){
      @apply hover:bg-white/10
    }

    &:disabled {
      @apply  border-gray-400 cursor-not-allowed text-white/50
    }
  }
}