html {
  body {
    background-color: transparent
  }
}

.animation-enter {
  opacity: 0;
}
.animation-enter-active {
  opacity: 1;
  transition: all 200ms;
}

.animation-exit {
  opacity: 1;
}
.animation-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}